.commentbox__align__right {
    display: flex;
    flex-direction: column;
}

.comment__header {
    margin-top: 2rem;
}

#comment__user__profile {
    height: 5rem;
    width: 5rem;
}

#commentbox__username {
    padding-top: -10rem;
}

.new__comment {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #fa4c6f;
    color: white;
    font-family: "Sansita";
    font-size: 1.3rem;
    font-weight: bold;
    flex-direction: row;
    margin: 1rem;
}

.comment__container {
    border: 1px solid red;
    overflow-y: scroll;
    width: 450px;
    height: 880px;
    bottom: 0;
}

.btn__like,
.btn__unlike {
    border: none;
    border-radius: 50%;
}
