.main-content {
    margin-top: 80px;
}

.signup__container {
    box-shadow: 10px 5px 5px gray;
    height: 33rem;
    width: 60rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: white;
}

.signup__right__container {
    height: 33rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 33rem;
}

.signup__right__container img {
    margin-top: 1.8rem;
    margin-left: -7rem;
}

.signup__right__container h3 {
    font-weight: 100;
    font-size: 2.5rem;
    position: absolute;
    margin-top: 3.5rem;
    margin-right: 14rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}

.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 20vw;
}

.signup__left__container {
    background-image: url("https://user-images.githubusercontent.com/92604480/165845450-6833a472-12ee-4b32-ba4e-0b2db843e9ea.jpg");
    height: 33rem;
    width: 33rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signup__form>div>div {
    color: red;
}

.signup__form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup__form input {
    margin-bottom: 1rem;
    width: 12rem;
}

.btn__signup,
.signup__btn {
    width: 13rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #fa4c6f;
    color: white;
    font-family: "Sansita";
    font-size: 1.3rem;
    font-weight: bold;
    flex-direction: row;
    margin: 1rem;
    margin-right: 6rem;
    margin-left: 1rem;
}

.signup__btn {
    width: 13rem;
    margin-left: 6rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

:is(.btn__signup, .signup__btn):hover {
    background-color: #cc3e5b;
}
