.story__container {
    overflow-y: scroll;
}

.story__subcontainer {
    border: 2px solid red;
    width: 100vw;
    overflow: hidden;
}

.story__subcontainer:hover {
    background-color: rgba(128, 128, 128, 0.219);
    cursor: pointer;
}

.story__box {
    border: 3px solid pink;
    overflow: hidden;
    width: 100vw;
}
