.story__container {
    overflow-y: scroll;
    /* border-right: 0.1rem solid gray;
    width: 2rem; */
    padding-left: 5rem;
    padding-right: 5rem;
}

.story__subcontainer {
    border-bottom: 0.1rem solid gray;
    width: 100vw;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    min-width: 30rem;
}

.story__subcontainer:hover {
    background-color: rgba(128, 128, 128, 0.219);
    cursor: pointer;
}

.story__box {
    /* border: 3px solid pink; */
    overflow: hidden;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    word-break: break-word;
    margin: 0.5rem;
}

.story__box.recipe-title-cook-time {
    display: flex;
    text-align: justify;

}

.story__box.recipe-title {
    font-size: 100px;
    margin-bottom: -1.5rem;
}

.story__box.recipe-cook-time {
    margin-left: 5rem;
    text-align: justify;

}

/*
.story__box.recipe-cuisine {
    border: 0.01 solid red;
    width: 10rem;
    height: 10rem;
    margin-top: 10rem;
    z-index: 1;
} */

.story__box.recipe {
    /* display: flex;
    justify-content: center;
    align-items: center; */

    margin: -1rem;
    margin-top: -5rem;
    margin-bottom: -2rem;
    margin-left: 1rem;
    text-align: justify;
    word-wrap: break-word;
    /* min-width: fit-content; */
    /* display: inline-block; */
}

.story__box.recipe-image>img {
    min-width: 25rem;
    height: 15rem;
    margin-top: 5rem;
    margin-right: 30rem;
    margin-bottom: 1rem;
    margin-left: -5rem;
    border-radius: 0.02rem;
    /* padding: -5rem; */
    padding-left: 6rem;

}

.story__box.recipe-cuisine,
.story__box.recipe-stars {
    margin-left: 1rem;
}

.story__box.recipe-rating {
    margin-top: 5rem;
    margin-left: -7rem;
}


.story__box>img {
    border-radius: 50%;
    width: 3rem;
    margin: 1rem;
    margin-left: -0.03rem;
}

.btn__delete__homepage,
.btn__edit__modal {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 50%;
    /* background-color: aqua; */
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    padding-top: 0.5rem;
    margin: 0.5rem;
    margin-left: 45rem;
}

.btn__edit__modal {
    margin-left: 0.2rem;
}

.story__container h4 {
    padding: 2rem;
    margin-left: -2rem;
}
