.story__container {
    overflow-y: scroll;
    /* border-right: 0.1rem solid gray;
    width: 2rem; */
    padding-left: 5rem;
    padding-right: 5rem;
}

.story__subcontainer {
    border-bottom: 0.1rem solid gray;
    width: 100vw;
    overflow: hidden;
    display: block;
    margin: 0 auto;


}

.story__subcontainer:hover {
    background-color: rgba(128, 128, 128, 0.219);
    cursor: pointer;
}

.story__box {
    /* border: 3px solid pink; */
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
}

.story__box>img {
    border-radius: 50%;
    width: 3rem;
    margin: 1rem;
}
