#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

#modal-content {
    position: absolute;
    background-color: white;
    height: 51.2%;
    width: 32%;
    margin-right: 40rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 10px 7px 5px gray;
}
