.main__container {
    border-right: 1rem solid black;
    width: calc(100vw - 10rem);
    display: flex;
}

.left__container {
    /* border: 2rem solid green; */
    width: 65%;
}

.right__container {
    /* border: 2rem solid orange; */
    width: 35%;
}
