#story_image__view {
    height: 10rem;
    width: 10rem;
}

.story__image__container {
    width: 20rem;
    height: 50rem;
    padding-top: 4.9rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

}

.story__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.story__details {
    width: 58.8rem;
    height: 31.2rem;
}

.story__card__container {
    display: flex;
    width: 100%;
    height: 100%;
}

.tab__container {
    display: flex;
}

.tab__container>div {
    padding: 0 2rem;
}

.ingredients__tab {
    margin: 0 1rem;
}

:is(.munchies__subcontainer, .ingredients__subcontainer, .instructions__subcontainer).hide {
    display: none;
}

.munchies__tab,
.ingredients__tab,
.instructions__tab {
    background-color: #48cfae;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 2rem;
}

:is(.munchies__tab, .ingredients__tab, .instructions__tab):hover {
    cursor: pointer;
    background-color: #38a187;
}

:is(.munchies__tab, .ingredients__tab, .instructions__tab).selected {
    background-color: #f3939e;
}

:is(.munchies__tab, .ingredients__tab, .instructions__tab).selected:hover {
    background-color: #ac6b72;

}

.content__subcontainer {
    background-color: #f3939e;
    height: 100%;
    color: white;
    padding: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.munchies__title {
    display: flex;
    justify-content: space-between;
}

.munchies__category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ed5466;
    width: 180px;
    height: 40px;
}

.munchies__author__details {
    display: flex;
    color: black;
}

.munchies__date {
    margin: 0 3rem;
}

.icon__bookmark {
    border: none;
    border-radius: 50%;
}

.comment__container {
    margin-left: 12rem;
}

.comment__input__box {
    border-radius: 2rem;
    height: 2.5rem;
    padding: 1rem;
}

.new__comment {
    margin-left: 15rem;
}

.comment__profile__image {
    border-radius: 50%;
    width: 3rem;
    margin: 1rem;
}

.comment__header {
    display: flex;
    /* justify-content: center; */
    /* width: -1rem; */
    height: 100vh;
    top: 0;

}

.comment__post__like {
    border-bottom: 0.1rem solid gray;
    /* width: 100vw;
    overflow: hidden;
    display: block;
    margin: 0 auto; */
}

.btn__delete__story {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    /* padding: 1rem;
    padding-top: 0.5rem;
    margin: 0.5rem;
    margin-left: 29.3rem; */
}
