.footer__info {
    display: flex;
    flex-direction: row-reverse;

    color: white;
    /* padding: 20px; */
    /* height: 20px; */
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 2rem;
}

.contact__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    justify-content: space-evenly;
}

.contact__info img {
    height: 50px;
    width: 50px;
}

.footer__info p {
    display: flex;
    flex-direction: row;
    justify-items: center;
    color: black;
}
