@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&family=Sansita&display=swap');

body {
    font: 14px "Roboto";
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
}

.main__page {
    border: 5px solid purple;
    display: flex;
    width: 100vw;
    height: 100vh;
}
