#splash__logo {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 200px, 0);
    }
}

.splash__logo__letters {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 6rem;
    margin-top: 1rem;
}

img {
    width: 10rem;
    height: 10rem;
    position: relative;
}

.splash__about {
    display: flex;
    flex-direction: row;

}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

p {
    font-family: 'Sansita', sans-serif;
}
