/* .splash__container {
    display: flex;
    margin-left: 5rem;
    height: 100vh;
} */

/* .splash__navbar.background img {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
} */

/* .splash__navbar.background {
    position: absolute;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 1rem;
    border: 1rem solid red;
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    opacity: 1;

} */

.splash__logo__letters.about {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.splash__logo {
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: 50%;

}

#splash__logo {
    /* margin-top: 45rem; */
    margin-top: 5.5rem;
    margin-right: -34rem;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 200px, 0);
    }
}

.splash__logo__letters {
    display: flex;
    padding: 20rem;
    margin-top: -20rem;
    margin-right: -30rem;
    margin-left: 20rem;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 6rem;
    width: 95%;
    min-width: 55rem;
}

.splash__container img {
    width: 10rem;
    height: 10rem;
    margin-left: 1rem;
    /* position: relative; */
    /* margin-right: auto; */
}

/* .splash__about {
    display: flex;
    flex-direction: row;
} */

.splash__container h1 {
    font-size: 3rem;
    font-weight: 900;
}

.splash__container p {
    font-family: "Sansita", sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 18rem; */
}

.splash__background>img {
    position: absolute;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: auto;
    /* padding: 1rem; */
    /* border: 1rem solid red; */
    width: 100%;
    height: 100%;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    opacity: 1;
}

/*
.story__images__container {
    display: flex;
    margin-left: 10rem;
}

.story__images {
    box-shadow: 55px -16px #f25e74;
    height: 70vh;
    width: 100%;

    background-position: 100%;
    animation: image 30s 0 linear infinite alternate;
    animation-duration: 30s;
    animation-name: image;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    z-index: -5;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;

    margin-top: 5rem;
}

@keyframes image {
    0% {

        background-image: url(https://user-images.githubusercontent.com/92604480/180843322-3448df92-eda0-422d-8c5b-a52b3c666504.jpg);
    }

    25% {
        background-image: url(https://user-images.githubusercontent.com/92604480/180846699-5b78555c-1549-43cd-8d0a-0640efb89177.png);
    }

    50% {
        background-image: url(https://user-images.githubusercontent.com/92604480/180846868-4daa6f1b-14ee-4935-ae4f-fb2f949a2340.jpg);
    }

    75% {
        background-image: url(https://user-images.githubusercontent.com/92604480/181166214-605254cb-2dd9-402c-bdd6-9375277c8075.png);
    }

    100% {
        background-image: url(https://user-images.githubusercontent.com/92604480/180847193-86819a63-03e4-4363-b64c-2f062b8ccd86.jpg);
    }
} */
