.navbar__loggedIn {
    border-right: 1px solid black;
    /* background-color: #cc3377; */
    color: black;
    width: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navbar__btn__loggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__btn__loggedIn>.navbar__btns {
    height: 150px;
}

.navbar__btn__loggedIn>a>img {
    width: 8rem;
}

:is(.navbar__btn__loggedIn > a, .navbar__btns):hover {
    background-color: rgba(128, 128, 128, 0.137);
    cursor: pointer;
}

.navbar__btns>img {
    /* width: 8rem;
    height: 8rem; */
    width: 5rem;
    /* background-color: #FF4499; */
    border-radius: 50%;
}

.navbar__btns>img:hover {
    background: #FF4499;
    box-shadow: 0 0 100px #FF4499;
    color: black;
}

.navbar__profile__image {
    display: flex;
    justify-content: center;
}

.navbar__profile__image>img {
    border-radius: 50%;
    width: 5rem;
}

#btn__logout {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Sansita", sans-serif;
    font-weight: "bold";
    font-size: 1rem;
}
