.navbar__loggedIn {

    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navbar__btn__loggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn__logout {
    border-radius: 50%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black
}

p {
    font-family: 'Sansita', sans-serif;
    font-weight: "bold";
    font-size: 1rem;
}
