.navbar__loggedIn {
    border-right: 1px solid black;
    /* background-color: #cc3377; */
    color: black;
    width: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.navbar__btn__loggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__btn__loggedIn>.navbar__btns {
    height: 150px;
}

.navbar__btn__loggedIn>a>img {
    width: 8rem;
}

:is(.navbar__btn__loggedIn > a, .navbar__btns):hover {
    /* background-color: rgba(128, 128, 128, 0.137); */
    cursor: pointer;
}

.navbar__btns>img {
    /* width: 8rem;
    height: 8rem; */
    width: 5rem;
    /* background-color: #FF4499; */
    border-radius: 50%;
}

.navbar__btns>img:hover {
    background: #FF4499;
    box-shadow: 0 0 100px #FF4499;
    color: black;
}

.navbar__profile__image {
    margin: 1rem;
    margin-left: 1.5rem;
    object-fit: cover;
}

/* .navbar__profile__image:hover {
    box-shadow: 0 0 100px #BE00FE;
    border-radius: 50%;
    width: 2.5rem;
    height: 1.5rem;

} */

.navbar__profile__image>img {
    display: flex;
    justify-content: center;
    background-color: #990088;
}

#btn__logout {
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: "Sansita", sans-serif;
    font-weight: "bold";
    font-size: 1rem;
}

.profile__image {
    border-radius: 50%;
    width: 5rem;
}

.navbar__profile__image {
    border: none;
}

.profile__btn {
    border: none;
    border-radius: 5rem;
}

.dropup {
    position: relative;
    display: inline-block;
}

.profile__dropup {
    position: absolute;
    right: -2.7rem;
    background-color: #F1F1F1;
    min-width: 160px;
    bottom: 2rem;
    z-index: 2;

}

.profile__dropup li {
    display: block;
    color: black;
    padding: 12px 16px;
}
