.main-content {
    margin-top: 80px;
}

.login__container {
    box-shadow: 10px 5px 5px gray;
    height: 33rem;
    width: 60rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: white;
}

.login__right__container {
    background-color: white;
    height: 33rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

h3 {
    font-weight: 100;
    font-size: 2.5rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    width: 20vw;
}

.login__btn__container {
    display: flex;
    justify-content: space-evenly;
}

.login__left__container {
    background-image: url("https://user-images.githubusercontent.com/92604480/167290035-dc18bdb6-31b4-4185-be36-3e753f74d911.jpg");
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#login__btn,
#demo__btn {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #FA4C6F;
    color: white;
    font-family: "Sansita";
    font-size: 1.3rem;
    font-weight: bold;
    flex-direction: row;
    margin: 1rem;
}
